* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

/* navbar */
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  background-image: linear-gradient(260deg, #c4c4c4 0%, #ffffff00 100%);
  color: black;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
  display: block;
}

/* landing photo */
main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./photos/Sarmis.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./photos/Sarmis.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* background photo */
#jumbotron {
  background-color: transparent;
  background-image: none;
  color: white;
  text-align: center;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#jumbotron .jumb-header h2 {
  padding: 20px;
  font-size: 30px;
}

/* about me section */
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

#about h2 {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: black;
}

#about .about {
  padding: 10px;
  max-width: 650px;
}

#about img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-top: 25px;
}

#about p {
  font-size: 18px;
  text-align: justify;
  color: black;
  padding-bottom: 15px;
}

/* Work Section */
#first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin: 30px 10px 30px 10px;
  border: white solid 1px;
}

article a {
  background: rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-container {
  padding: 25px;
  text-align: center;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

div p {
  font-style: italic;
  font-weight: lighter;
  color: white;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

/* Experience section */
#experience h2,
h3 {
  text-align: center;
  margin: 25px 0 25px 0;
  color: white;
  font-size: 16px;
}

#experience p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 15px auto;
  text-align: center;
  color: white;
}

#grid {
  height: 50vh;
}

#grid .grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 5vh;
  -ms-grid-columns: 50px 50px 50px;
      grid-template-columns: 50px 50px 50px;
  -ms-grid-rows: 50px 50px 50px;
      grid-template-rows: 50px 50px 50px;
  font-size: 45px;
  color: white;
}

/* Footer */
#lab_social_icon_footer {
  padding: 20px;
  background-color: black;
  text-align: center;
}

#lab_social_icon_footer p {
  color: white;
  padding: 20px;
}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: -webkit-transform scale(1.1);
          transform: -webkit-transform scale(1.1);
  transform: -moz-transform scale(1.1);
  transform: -o-transform scale(1.1);
}

/*
    Multicoloured Hover Variations
*/
#lab_social_icon_footer #social-gh:hover {
  color: yellow;
}

#lab_social_icon_footer #social-li:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

/* media queries */
@media screen and (min-width: 320px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
  }
  #about .about p {
    width: 100%;
    height: 100%;
  }
  #cv {
    width: 100%;
    height: 20vh;
  }
  #grid {
    width: 100%;
  }
  article {
    width: 300px;
  }
}

@media screen and (min-width: 375px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
  }
  #about .about p {
    width: 100%;
    height: 100%;
  }
  #experience {
    height: 25vh;
  }
  #cv {
    width: 100%;
    height: 20vh;
  }
  #grid {
    width: 100%;
  }
  article {
    width: 300px;
  }
}

@media screen and (min-width: 425px) {
  #about {
    height: 100vh;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
  }
  #about img .about p {
    width: 100%;
    height: 100%;
  }
  #grid {
    width: 100%;
    height: 50vh;
  }
  article {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  article {
    width: 350px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: black;
  }
  /* About me section */
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
  }
  #about .about p {
    width: 100%;
    height: 100%;
  }
  #about a {
    vertical-align: middle;
    font-size: 16px;
  }
  #experience {
    width: 100%;
    height: 25vh;
  }
  #grid {
    width: 100%;
    height: 45vh;
  }
  #work {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .jumb-header {
    font-size: 2em;
  }
  /* About me section */
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
  }
  #about .about p {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #about a {
    vertical-align: middle;
    font-size: 16px;
  }
  #experience {
    width: 100%;
    height: 25vh;
  }
  #grid {
    width: 100%;
    height: 50vh;
  }
  #work {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  .jumb-header {
    padding: 20px;
    font-size: 2em;
  }
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
  }
  #about img {
    width: 250px;
    border-radius: 50%;
    margin-top: 120px;
  }
  #about h2 {
    font-size: 25px;
    margin: 15px;
    text-align: center;
  }
  #about p {
    font-size: 20px;
    margin: 15px;
    width: 100%;
    height: 100%;
  }
  #grid {
    height: 50vh;
  }
  #grid .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    grid-gap: 10vh;
    -ms-grid-columns: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
    -ms-grid-rows: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
    font-size: 60px;
    color: white;
  }
  #experience {
    width: 100%;
    height: 25vh;
  }
  #work {
    width: 100vw;
    height: 105vh;
  }
}
/*# sourceMappingURL=styles.css.map */